@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.checkout-page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 0px 1rem 1rem;

  &__header {
    font-size: 1.5rem;
    line-height: 1.417;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 0.6px;
    padding-bottom: 1rem;
  }

  &__icon {
    height: 20px;
    width: auto;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    list-style-type: none;
  }

  &__row-1 {
    display: flex;
    justify-content: space-between;
  }

  &__col-1 {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__image {
    width: 56px;
    height: 56px;
  }

  &__prod-title {
    font-family: $font-family-handwritten-replacement;
    font-size: $mobile-font-size-prod-title;
    line-height: $mobile-prod-title-line-height;
  }

  &__prod-type {
    font-size: $mobile-font-size-prod-details;
    color: #333333;
    margin: 1rem 0;
  }

  &__vol {
    margin-right: 0.75rem;
  }

  &__details {
    padding: 1rem;
    background-color: $color-product-background-light;
  }
}

.checkout-header {
  padding: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__price {
    font-size: $mobile-font-size-from-price;
    line-height: $mobile-from-price-line-height;
    font-weight: $font-weight-bold;
  }

  &__title {
    font-size: $mobile-font-size-del-status;
    font-weight: $font-weight-bold;
  }

  &__logo {
    width: 115px;
    height: 45px;
  }

  &__icon {
    height: 20px;
    width: auto;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  &__title-wrapper {
    display: flex;
    gap: 1rem;
  }
}

.outer-container {
  display: flex;
  justify-content: space-between;
}